/* ============================================
   RECREAR BASE DESDE CERO
   ============================================ */
USE master;
GO
IF DB_ID('ResidenciaDB') IS NOT NULL
BEGIN
  ALTER DATABASE ResidenciaDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
  DROP DATABASE ResidenciaDB;
END
GO
CREATE DATABASE ResidenciaDB;
GO
USE ResidenciaDB;
GO

/* ============================================
   OPCIONES (recomendado)
   ============================================ */
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

/* ============================================
   TABLAS PRINCIPALES (con auditoría)
   ============================================ */
-- NINO
CREATE TABLE dbo.Nino (
  Id                INT IDENTITY(1,1) PRIMARY KEY,
  Dni               VARCHAR(20) NOT NULL,
  Apellido          NVARCHAR(100) NOT NULL,
  Nombre            NVARCHAR(100) NOT NULL,
  FechaNacimiento   DATE NOT NULL,
  FechaCreacion     DATETIME2      NOT NULL CONSTRAINT DF_Nino_FechaCreacion     DEFAULT SYSDATETIME(),
  FechaModificacion DATETIME2      NOT NULL CONSTRAINT DF_Nino_FechaModificacion DEFAULT SYSDATETIME(),
  UsuarioCreacion   NVARCHAR(100)  NULL,
  UsuarioModificacion NVARCHAR(100) NULL
);
-- DNI único
ALTER TABLE dbo.Nino
  ADD CONSTRAINT UQ_Nino_Dni UNIQUE (Dni);
GO

-- TUTOR
CREATE TABLE dbo.Tutor (
  Id                INT IDENTITY(1,1) PRIMARY KEY,
  Nombre            NVARCHAR(100) NOT NULL,
  Apellido NVARCHAR(100) NULL,
  Telefono          NVARCHAR(50)  NULL,
  Email             NVARCHAR(100) NULL,
  FechaCreacion     DATETIME2      NOT NULL CONSTRAINT DF_Tutor_FechaCreacion     DEFAULT SYSDATETIME(),
  FechaModificacion DATETIME2      NOT NULL CONSTRAINT DF_Tutor_FechaModificacion DEFAULT SYSDATETIME(),
  UsuarioCreacion   NVARCHAR(100)  NULL,
  UsuarioModificacion NVARCHAR(100) NULL
);
GO

/* ============================================
   TABLAS CATÁLOGO (sin auditoría)
   ============================================ */
-- ESTADO (estado del legajo)
CREATE TABLE dbo.Estado (
  Id          INT IDENTITY(1,1) PRIMARY KEY,
  Nombre      NVARCHAR(50)  NOT NULL,
  Descripcion NVARCHAR(200) NULL
);

-- TIPO ALERTA
CREATE TABLE dbo.TipoAlerta (
  Id          INT IDENTITY(1,1) PRIMARY KEY,
  Nombre      NVARCHAR(50)  NOT NULL,
  Descripcion NVARCHAR(100) NULL
);

-- PRIORIDAD
CREATE TABLE dbo.Prioridad (
  Id          INT IDENTITY(1,1) PRIMARY KEY,
  Nombre      NVARCHAR(50)  NOT NULL,
  Color       VARCHAR(7)    NULL,
  Orden       INT           NULL
);

-- ESTADO ALERTA
CREATE TABLE dbo.EstadoAlerta (
  Id          INT IDENTITY(1,1) PRIMARY KEY,
  Nombre      NVARCHAR(50)  NOT NULL,
  Descripcion NVARCHAR(100) NULL
);
GO

/* ============================================
   TABLAS OPERATIVAS (con auditoría)
   ============================================ */
-- LEGAJO
CREATE TABLE dbo.Legajo (
  Id                INT IDENTITY(1,1) PRIMARY KEY,
  NinoId            INT NOT NULL,
  TutorId           INT NULL,
  EstadoId          INT NOT NULL,
  FechaIngreso      DATE NOT NULL,
  FechaEgreso       DATE NULL,
  Observaciones     NVARCHAR(500) NULL,
  FechaCreacion     DATETIME2 NOT NULL CONSTRAINT DF_Legajo_FechaCreacion     DEFAULT SYSDATETIME(),
  FechaModificacion DATETIME2 NOT NULL CONSTRAINT DF_Legajo_FechaModificacion DEFAULT SYSDATETIME(),
  UsuarioCreacion   NVARCHAR(100)  NULL,
  UsuarioModificacion NVARCHAR(100) NULL,
  CONSTRAINT FK_Legajo_Nino   FOREIGN KEY (NinoId)   REFERENCES dbo.Nino(Id),
  CONSTRAINT FK_Legajo_Tutor  FOREIGN KEY (TutorId)  REFERENCES dbo.Tutor(Id),
  CONSTRAINT FK_Legajo_Estado FOREIGN KEY (EstadoId) REFERENCES dbo.Estado(Id)
);

-- ALERTA
CREATE TABLE dbo.Alerta (
  Id                INT IDENTITY(1,1) PRIMARY KEY,
  TipoId            INT NOT NULL,
  PrioridadId       INT NOT NULL,
  EstadoId          INT NOT NULL,
  LegajoId          INT NOT NULL,
  Descripcion       NVARCHAR(500) NOT NULL,
  FechaVencimiento  DATETIME2 NOT NULL,
  FechaCreacion     DATETIME2 NOT NULL CONSTRAINT DF_Alerta_FechaCreacion     DEFAULT SYSDATETIME(),
  FechaModificacion DATETIME2 NOT NULL CONSTRAINT DF_Alerta_FechaModificacion DEFAULT SYSDATETIME(),
  UsuarioCreacion   NVARCHAR(100)  NULL,
  UsuarioModificacion NVARCHAR(100) NULL,
  CONSTRAINT FK_Alerta_Tipo       FOREIGN KEY (TipoId)      REFERENCES dbo.TipoAlerta(Id),
  CONSTRAINT FK_Alerta_Prioridad  FOREIGN KEY (PrioridadId) REFERENCES dbo.Prioridad(Id),
  CONSTRAINT FK_Alerta_Estado     FOREIGN KEY (EstadoId)    REFERENCES dbo.EstadoAlerta(Id),
  CONSTRAINT FK_Alerta_Legajo     FOREIGN KEY (LegajoId)    REFERENCES dbo.Legajo(Id)
);
GO

/* ============================================
   ÍNDICES ÚTILES
   ============================================ */
-- Búsquedas frecuentes
CREATE INDEX IX_Legajo_Nino_Estado ON dbo.Legajo (NinoId, EstadoId);
CREATE INDEX IX_Alerta_Legajo_Venc ON dbo.Alerta (LegajoId, FechaVencimiento);
CREATE INDEX IX_Alerta_Estado ON dbo.Alerta (EstadoId);
GO

/* ============================================
   DATOS INICIALES CATÁLOGOS
   ============================================ */
INSERT INTO dbo.Estado (Nombre, Descripcion) VALUES
 ('Activo','Niño alojado actualmente'),
 ('Egresado','Niño dado de alta'),
 ('Seguimiento','Caso en seguimiento');

INSERT INTO dbo.TipoAlerta (Nombre, Descripcion) VALUES
 ('Médica','Control médico o tratamiento'),
 ('Judicial','Trámite o audiencia judicial'),
 ('Educativa','Situación o reunión escolar'),
 ('General','Otras alertas administrativas');

INSERT INTO dbo.Prioridad (Nombre, Color, Orden) VALUES
 ('Alta',  '#dc3545', 1),
 ('Media', '#ffc107', 2),
 ('Baja',  '#198754', 3);

INSERT INTO dbo.EstadoAlerta (Nombre, Descripcion) VALUES
 ('Pendiente',  'En espera de resolución'),
 ('Completada', 'Resuelta'),
 ('Vencida',    'Fuera de plazo');
GO

/* ============================================
   VISTAS
   ============================================ */
CREATE OR ALTER VIEW dbo.VW_LegajoDetalle AS
SELECT
  L.Id             AS LegajoId,
  N.Id             AS NinoId,
  N.Dni,
  N.Apellido,
  N.Nombre,
  E.Id             AS EstadoId,
  E.Nombre         AS Estado,
  T.Id             AS TutorId,
  T.Nombre         AS Tutor,
  L.FechaIngreso,
  L.FechaEgreso,
  L.Observaciones,
  L.UsuarioCreacion,
  L.FechaCreacion,
  L.UsuarioModificacion,
  L.FechaModificacion
FROM dbo.Legajo L
JOIN dbo.Nino   N ON N.Id = L.NinoId
JOIN dbo.Estado E ON E.Id = L.EstadoId
LEFT JOIN dbo.Tutor  T ON T.Id = L.TutorId;
GO

CREATE OR ALTER VIEW dbo.VW_AlertasDetalle AS
SELECT
  A.Id                 AS AlertaId,
  L.Id                 AS LegajoId,
  N.Id                 AS NinoId,
  (N.Nombre + N' ' + N.Apellido) AS Nino,
  TA.Nombre            AS Tipo,
  P.Nombre             AS Prioridad,
  EA.Nombre            AS Estado,
  A.Descripcion,
  A.FechaVencimiento,
  A.UsuarioCreacion,
  A.FechaCreacion,
  A.UsuarioModificacion,
  A.FechaModificacion
FROM dbo.Alerta A
JOIN dbo.Legajo L       ON L.Id  = A.LegajoId
JOIN dbo.Nino   N       ON N.Id  = L.NinoId
JOIN dbo.TipoAlerta TA  ON TA.Id = A.TipoId
JOIN dbo.Prioridad  P   ON P.Id  = A.PrioridadId
JOIN dbo.EstadoAlerta EA ON EA.Id = A.EstadoId;
GO

/* ============================================
   STORED PROCEDURES - LEGAJO
   ============================================ */
-- Insert
CREATE OR ALTER PROCEDURE dbo.SP_Legajo_Insert
  @NinoId INT,
  @TutorId INT = NULL,
  @EstadoId INT,
  @FechaIngreso DATE,
  @Observaciones NVARCHAR(500) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO dbo.Legajo
    (NinoId, TutorId, EstadoId, FechaIngreso, Observaciones, UsuarioCreacion)
  VALUES
    (@NinoId, @TutorId, @EstadoId, @FechaIngreso, @Observaciones, SYSTEM_USER);

  SELECT SCOPE_IDENTITY() AS NuevoLegajoId;
END
GO

-- Update
CREATE OR ALTER PROCEDURE dbo.SP_Legajo_Update
  @Id INT,
  @EstadoId INT,
  @TutorId INT = NULL,
  @Observaciones NVARCHAR(500) = NULL,
  @FechaEgreso DATE = NULL
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Legajo
    SET EstadoId          = @EstadoId,
        TutorId           = @TutorId,
        Observaciones     = @Observaciones,
        FechaEgreso       = @FechaEgreso,
        FechaModificacion = SYSDATETIME(),
        UsuarioModificacion = SYSTEM_USER
  WHERE Id = @Id;
END
GO

-- Delete
CREATE OR ALTER PROCEDURE dbo.SP_Legajo_Delete
  @Id INT
AS
BEGIN
  SET NOCOUNT ON;

  -- Verificar si el legajo tiene alertas asociadas
  IF EXISTS (SELECT 1 FROM dbo.Alerta WHERE LegajoId = @Id)
  BEGIN
    RAISERROR('No se puede eliminar el legajo porque tiene alertas asociadas. Elimine primero las alertas.', 16, 1);
    RETURN;
  END

  -- Si no tiene alertas, proceder con la eliminación
  DELETE FROM dbo.Legajo WHERE Id = @Id;
END
GO

-- GetAll
CREATE OR ALTER PROCEDURE dbo.SP_Legajo_GetAll
AS
BEGIN
  SET NOCOUNT ON;
  SELECT * FROM dbo.VW_LegajoDetalle ORDER BY FechaIngreso DESC, LegajoId DESC;
END
GO

-- GetById
CREATE OR ALTER PROCEDURE dbo.SP_Legajo_GetById
  @Id INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT * FROM dbo.VW_LegajoDetalle WHERE LegajoId = @Id;
END
GO

/* ============================================
   STORED PROCEDURES - ALERTA
   ============================================ */
-- Insert
CREATE OR ALTER PROCEDURE dbo.SP_Alerta_Insert
  @TipoId INT,
  @PrioridadId INT,
  @EstadoId INT,
  @LegajoId INT,
  @Descripcion NVARCHAR(500),
  @FechaVencimiento DATETIME2
AS
BEGIN
  SET NOCOUNT ON;

  INSERT INTO dbo.Alerta
    (TipoId, PrioridadId, EstadoId, LegajoId, Descripcion, FechaVencimiento, UsuarioCreacion)
  VALUES
    (@TipoId, @PrioridadId, @EstadoId, @LegajoId, @Descripcion, @FechaVencimiento, SYSTEM_USER);

  SELECT SCOPE_IDENTITY() AS NuevaAlertaId;
END
GO

-- Update (cambiar estado / datos clave)
CREATE OR ALTER PROCEDURE dbo.SP_Alerta_Update
  @Id INT,
  @EstadoId INT,
  @PrioridadId INT = NULL,
  @Descripcion NVARCHAR(500) = NULL,
  @FechaVencimiento DATETIME2 = NULL
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Alerta
    SET EstadoId          = @EstadoId,
        PrioridadId       = ISNULL(@PrioridadId, PrioridadId),
        Descripcion       = ISNULL(@Descripcion, Descripcion),
        FechaVencimiento  = ISNULL(@FechaVencimiento, FechaVencimiento),
        FechaModificacion = SYSDATETIME(),
        UsuarioModificacion = SYSTEM_USER
  WHERE Id = @Id;
END
GO

-- Delete
CREATE OR ALTER PROCEDURE dbo.SP_Alerta_Delete
  @Id INT
AS
BEGIN
  SET NOCOUNT ON;

  DELETE FROM dbo.Alerta WHERE Id = @Id;
END
GO

-- GetAll
CREATE OR ALTER PROCEDURE dbo.SP_Alerta_GetAll
AS
BEGIN
  SET NOCOUNT ON;
  SELECT * FROM dbo.VW_AlertasDetalle
  ORDER BY FechaVencimiento ASC, AlertaId DESC;
END
GO

-- GetById
CREATE OR ALTER PROCEDURE dbo.SP_Alerta_GetById
  @Id INT
AS
BEGIN
  SET NOCOUNT ON;
  SELECT * FROM dbo.VW_AlertasDetalle WHERE AlertaId = @Id;
END
GO

/* ============================================
   LISTO
   ============================================ */
PRINT 'ResidenciaDB creada e inicializada correctamente.';


USE ResidenciaDB;
GO

/* ============================================
   1️⃣ INSERTAR DATOS DE PRUEBA - NINO
   ============================================ */
INSERT INTO dbo.Nino (Dni, Apellido, Nombre, FechaNacimiento, UsuarioCreacion)
VALUES
 ('45987412', 'Pérez', 'Lucas', '2010-03-15', SYSTEM_USER),
 ('47653218', 'Gómez', 'Camila', '2012-09-22', SYSTEM_USER),
 ('45800321', 'Lopez', 'Tomás', '2009-11-08', SYSTEM_USER);

SELECT * FROM dbo.Nino;

/* ============================================
   2️⃣ INSERTAR DATOS DE PRUEBA - TUTOR
   ============================================ */
INSERT INTO dbo.Tutor (Nombre, Telefono, Email, UsuarioCreacion)
VALUES
 ('María Perez', '351-1122334', 'maria.perez@example.com', SYSTEM_USER),
 ('Carlos Gómez', '351-2244556', 'carlos.gomez@example.com', SYSTEM_USER);

SELECT * FROM dbo.Tutor;

/* ============================================
   3️⃣ INSERTAR LEGAJOS (usando SP)
   ============================================ */
EXEC dbo.SP_Legajo_Insert 
     @NinoId = 1, 
     @TutorId = 1, 
     @EstadoId = 1, 
     @FechaIngreso = '2023-06-15', 
     @Observaciones = N'Ingreso por derivación judicial';

EXEC dbo.SP_Legajo_Insert 
     @NinoId = 2, 
     @TutorId = 2, 
     @EstadoId = 1, 
     @FechaIngreso = '2023-09-01', 
     @Observaciones = N'Ingreso voluntario de familia.';

SELECT * FROM dbo.Legajo;

/* ============================================
   4️⃣ INSERTAR ALERTAS (usando SP)
   ============================================ */

DECLARE @FechaVenc1 DATETIME2 = DATEADD(DAY, 10, SYSDATETIME());
DECLARE @FechaVenc2 DATETIME2 = DATEADD(DAY, 20, SYSDATETIME());

EXEC dbo.SP_Alerta_Insert
     @TipoId = 1,
     @PrioridadId = 1,
     @EstadoId = 1,
     @LegajoId = 1,
     @Descripcion = N'Control pediátrico anual pendiente.',
     @FechaVencimiento = @FechaVenc1;

EXEC dbo.SP_Alerta_Insert
     @TipoId = 2,
     @PrioridadId = 2,
     @EstadoId = 1,
     @LegajoId = 2,
     @Descripcion = N'Audiencia judicial programada.',
     @FechaVencimiento = @FechaVenc2;

SELECT * FROM dbo.Alerta;


/* ============================================
   5️⃣ VALIDAR VISTAS
   ============================================ */
SELECT * FROM dbo.VW_LegajoDetalle;
SELECT * FROM dbo.VW_AlertasDetalle;

/* ============================================
   6️⃣ VALIDAR SPs GETALL
   ============================================ */
EXEC dbo.SP_Legajo_GetAll;
EXEC dbo.SP_Alerta_GetAll;

/* ============================================
   7️⃣ ACTUALIZAR DATOS PARA PROBAR MODIFICACIONES
   ============================================ */
EXEC dbo.SP_Legajo_Update 
     @Id = 1,
     @EstadoId = 2,
     @TutorId = 2,
     @Observaciones = N'Actualizado tras evaluación.',
     @FechaEgreso = '2024-01-15';

EXEC dbo.SP_Alerta_Update
     @Id = 1,
     @EstadoId = 2, -- Completada
     @Descripcion = N'Control médico realizado y documentado.';

SELECT * FROM dbo.VW_AlertasDetalle;
SELECT * FROM dbo.VW_LegajoDetalle;

/* ============================================
   ✅ RESULTADOS ESPERADOS
   ============================================ 
   - 3 niños cargados.
   - 2 tutores cargados.
   - 2 legajos activos.
   - 2 alertas pendientes (una luego completada).
   - Vistas devuelven datos combinados.
   - SP_GetAll muestran registros ordenados.
   ============================================ */

   